@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.img-fluid {
  max-width: 70%;
}

.para {
  font-family: 'Roboto', sans-serif;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto !important;
  margin: auto;
}

